#gameover {
  text-align: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

#gameover h2,
#gameover p {
  margin-bottom: 1rem;
}

#gameover p {
  color: #ff6c3e;
}

#gameover img {
  margin: 2rem;
  width: 300px;
}
